{$SITE_ADDRESS} {
    root /public
    file_server
    header X-Powered-By "DedSec: Join Us"
    encode gzip
    log {
        output file /var/log/caddy/access.log
        format console
    }

    @staticAssets path /fonts* /css* /js* /icons*

    header @staticAssets {
        Cache-Control "public, max-age=31536000, s-maxage=31536000"
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, OPTIONS"
    }
}

{$API_ADDRESS} {
    reverse_proxy express:3000
    log {
        output file /var/log/caddy/api.access.log
        format console
    }
}
