{$SITE_ADDRESS} {
    root /public
    file_server
    header X-Powered-By "DedSec: Join Us"
    encode gzip
    log {
        output file /var/log/caddy/access.log
        format console
    }
}

{$API_ADDRESS} {
    reverse_proxy server:3000
    log {
        output file /var/log/caddy/api.access.log
        format console
    }
}
